.movie-container{
  display: flex;
  justify-content:space-between;
  background-color: white;
  width: 1200px;
  margin: 20px;
  padding: 20px;

}
img{
  width: 94px;
  height: 141px;
}
.movie-info{
  width: 90%;
}
h3, p {
  margin: 5px 0;
}
